{% extends 'base.html' %}

{% block title %}
	Delete post
{% endblock title %}


{% block content %}
	
	    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Delete(<strong>{{ blog.title }}</strong>) Post:</h1>
                <hr>
                <p>Are you sure to delete this post ?</p>
                <form action="" method="POST">
                {% csrf_token %}    
                <button type="submit" class="btn btn-danger">Confirm</button>
                <a href="{% url 'posts_list' %}" class="btn btn-secondary">No im not sure, cancel</a>
                </form>
            </div>
        </div>
        </div>
    </div>

    <br><br>
    <br><br>

{% endblock content %}